client-dashboard
    .main
        button
            border 1px solid #001640
            padding: 30px
            width: 800px
    .footer
        button
            border 1px solid #c4d9ff
            padding: 30px
            width: 200px
        button:hover
            border 1px solid #7aa9ff
