<div class="" layout="row" layout-align="center center">
    <div class="" flex>
        {{$ctrl.countDown}}
    </div>
    <h2>Welcome Back~ {{$ctrl.customer.firstname}}</h2>
    <div class="" flex></div>
</div>
<md-divider></md-divider>
<div class="" layout="row" layout-align="center center">
    <md-button ng-click="$ctrl.makeAppointment()">Make an Appointment</md-button>
    <md-button ng-click="$ctrl.selfService()">Self Service</md-button>
    <md-button ng-click="$ctrl.$state.go('client.customersCheckIn')">Logout</md-button>
</div>
<md-divider></md-divider>
<div class="main" layout="column" flex layout-align="center center">
    <h5>My Visits: {{$ctrl.orders.length}}</h5>
    <md-content layout="row" layout-align="start center" flex>
        <div class="order-box" layout="column" ng-repeat="order in $ctrl.orders">
            <md-subheader>
                {{order.scheduleAt | date:'yyyy-MM-dd'}}
            </md-subheader>
            <div class="" layout="row" flex>
                <img ng-src="{{url}}" alt="loading..." ng-repeat="url in $ctrl.pictures[order._id]"/>
            </div>
        </div>
    </md-content>
</div>
<md-divider></md-divider>
<div class="footer md-padding" layout="row" layout-align="center center">
    <md-button ng-click="$ctrl.updateMyInfo()">My Info</md-button>
    <md-button ng-repeat="pet in $ctrl.customer.pets"
        ng-click="$ctrl.updateMyPet(pet._id)"
        style="background-image: url({{$ctrl.preview[pet._id]}});background-size: 100% 100%;">
        <span>{{pet.name}}</span>
    </md-button>
    <md-button ng-click="$ctrl.addPet()">Add a Pet</md-button>
</div>

<!-- <md-divider></md-divider>
{{$ctrl.customer}} -->
