<div class="md-padding" layout="row" layout-align="center center">
    <div class="" flex>
        <h2>Welcome Back~ {{$ctrl.customer.firstname}}</h2>
    </div>
    <md-button class="md-accent md-raised" ng-click="$ctrl.selfService()">Self Service</md-button>
    <md-button class="md-warn md-raised" ng-click="$ctrl.$state.go('client.customersCheckIn')">Logout</md-button>
</div>
<md-divider></md-divider>
<div class="footer md-padding" layout="row" layout-align="center center">
    <md-button ng-click="$ctrl.updateMyInfo()">My Info</md-button>
    <md-button ng-repeat="pet in $ctrl.customer.pets"
        ng-click="$ctrl.updateMyPet(pet._id)"
        style="background-image: url({{$ctrl.preview[pet._id]}});background-size: 100% 100%;">
        <span>{{pet.name}}</span>
    </md-button>
    <md-button ng-click="$ctrl.addPet()">Add a Pet</md-button>
</div>
<md-divider></md-divider>
<md-content layout="column" flex class="md-padding">
    <pet-photo-gallery
        layout="column" flex
        ng-repeat="pet in $ctrl.customer.pets"
        pet-id="pet._id"
        layout-margin>
    </pet-photo-gallery>
</md-content>
