<div class="md-padding" layout="row" flex layout-align="center center">
    <div class="" flex="5">
    </div>
    <div class="" flex="10">
        Date
    </div>
    <div class="" flex="10">
        $total
    </div>
    <div class="" flex="10">
        Pet
    </div>
    <div class="" flex="10">
        Service
    </div>
    <div class="" flex="20">
        Service Addons
    </div>

</div>
<div class="md-padding" layout="row" flex layout-align="center center" ng-repeat="history in $ctrl.history | orderBy:'scheduleAt':true">
    <div class="" flex="5">
        {{$index+1}}
    </div>
    <div class="" flex="10">
        {{history.createdAt | date:'mediumDate'}}
    </div>
    <div class="" flex="10">
        {{history.total | currency}}
    </div>
    <div class="" flex="10">
        {{$ctrl.findOrder(history).pets[0].name}}
    </div>
    <div class="" flex="10">
        {{$ctrl.findOrder(history).services.name}}
    </div>
    <div class="" flex="20">
        <span ng-repeat="addon in $ctrl.findOrder(history).serviceAddons">
            {{addon.name}}
        </span>
    </div>
</div>