<md-dialog id="addCredits-dialog">
    <md-content class="md-padding" flex>
        <!-- content -->
        <h3>add more credits</h3>
    </md-content>
    <md-divider></md-divider>
    <div class="md-padding" layout="row" layout-align="start center" flex="none">
        <md-button class="md-warn" ng-click="$ctrl.cancel()">
            <span translate="">cancel</span>
        </md-button>
        <div flex layout="row" layout-align="center center">
            <div class="">
                <!-- footer message -->
            </div>
        </div>
        <md-button class="md-primary" ng-click="$ctrl.confirm()">
            <span translate="">confirm</span>
        </md-button>
    </div>
</div>
