$primaryColor = #003657
$bgColor = #ffffff
$darkBgColor = #212121
$lightBgColor = #37474f
$lightTextColor = #f5f5f5
$darkTextColor = #212121

$font-family = Roboto, Century Gothic, Tahoma, Geneva, Georgia, sans-serif
