<div layout="column" class="md-padding" flex >
    <div class="" layout="row" layout-align="center center">
        <h3>{{$ctrl.waiver.name}} {{$ctrl.waiver.zhName}}</h3>
    </div>
    <md-content layout="column" flex="35" class="description">
        <div class="">
            {{$ctrl.waiver.description}}
        </div>
        <div class="">
            {{$ctrl.waiver.zhDescription}}
        </div>
    </md-content>
    <div layout="row" flex="none">
        <md-button ng-click="$ctrl.erase()" class="md-warn">Erase</md-button>
        <div class="" flex layout="row" layout-align="center center">
            Please Sign inside the box
        </div>
        <md-button ng-click="$ctrl.save()" class="md-primary md-raised" ng-disabled="!$ctrl.showSaveButton">save</md-button>
    </div>
        <!-- <canvas
            id="signature-canvas"
            ng-mousemove="$ctrl.draw($event)"
            ng-mousedown="$ctrl.startDrawing($event)"
            ng-mouseup="$ctrl.stopDrawing($event)"
            width="500" height="200"></canvas> -->
    <canvas
        id="signature-canvas"
        width="800" height="400"></canvas>
        <!-- {{$ctrl.clickX[$ctrl.clickX.length-1]}}
        {{$ctrl.clickY[$ctrl.clickY.length-1]}} -->
        <!-- <img ng-src="{{$ctrl.signature}}" alt="" /> -->

</div>
