#pets-list
    table
        md-icon
            display: inline-block;
        md-input-container
            width: 80%
            display: inline-block;
            margin: 0px
            padding: 0px
            margin-top: 10px
            margin-bottom: -10px
        width: 100%
        thead
            tr
                th
                    padding-bottom: 15px
        tbody
            tr
                td
                    padding: 10px
                    text-align: center
                    border-bottom 1px solid #d4d4d4
    .pet-detail
        md-input-container
            margin-top: 0px
            margin-bottom: 0px
