<h1>formCreate</h1>
<md-content class="formScroll">
    <form name="abstract_form">
        <!--<div layout="row" layout-align="start center" layout-padding="">-->
        <!--    <span class="bullet">Autobackup</span> -->
        <!--    <md-switch -->
        <!--        ng-model="$ctrl.autoBackupConfig.status"-->
        <!--        ng-change="!$ctrl.currentUser || $ctrl.toggleAutoBackup()" -->
        <!--        ng-disabled="!$ctrl.currentUser"-->
        <!--        aria-label="Toggle Auto Backup">-->
        <!--        {{$ctrl.autoBackupConfig.msg}}-->
        <!--    </md-switch>-->
        <!--</div>-->
        <md-input-container>
            <label>First Name</label>
            <input type="text" name="first name" 
                ng-model="$ctrl.form.firstname"></input>
        </md-input-container>
        <md-input-container>
            <label>Last Name</label>
            <input type="text" name="first name" 
                ng-model="$ctrl.form.lastname"></input>
        </md-input-container>
        
        <md-input-container>
            <label>Address</label>
            <input type="text" name="first name" 
                ng-model="$ctrl.form.address.street"></input>
        </md-input-container>
        <!--<div layout="column" layout-padding="">-->
        <!--    <md-input-container>-->
        <!--        <label class="bullet">Abstract Title</label>-->
        <!--        <textarea type="textarea" name="title" -->
        <!--            ng-model="$ctrl.form.title"-->
        <!--            ng-change="$ctrl.toTitleCase()"></textarea>-->
        <!--    </md-input-container>-->
        <!--    <md-input-container class="indent-left">-->
        <!--        <label>Field</label>-->
        <!--        <md-select required name="field"-->
        <!--            ng-model="$ctrl.form.field"-->
        <!--            md-on-open="$ctrl.setFooterClass(true)"-->
        <!--            md-on-close="$ctrl.setFooterClass(false)">-->
        <!--            <md-option -->
        <!--                ng-repeat="field in $ctrl.fields | orderBy"-->
        <!--                ng-value="field">{{field}}-->
        <!--            </md-option>-->
        <!--            <md-option value="other">Other</md-option>-->
        <!--        </md-select>-->
        <!--        <div ng-messages="abstract_form.field.$error">-->
        <!--            <div ng-message="required">This is required</div>-->
        <!--        </div>-->
        <!--    </md-input-container>-->
        <!--</div>-->
    </form>
</md-content>