@import "~variable"
md-toast .md-toast-content span.md-toast-text
    font-size 200%
    text-align center
[aria-label="paid by cash"], [aria-label="confirm CANCEL"], [aria-label="confirm NO-SHOW"]
    font-size 24px
    md-dialog-actions
        padding 0px 8px
        button
            margin 8px 4px
            font-size 24px
            width 50%
            height 100px
#order-list
    .animate-show.ng-hide-add 
        transition: all linear 0.75s;
    .animate-show.ng-hide-remove
        transition: all linear 0.5s;
    .animate-show.ng-hide 
        opacity: 0;

    .label-rush::after
        content: "RUSH";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 20%;
        word-wrap: break-word;
        background-color: rgb(255,138,101);
        font-size: 40%;
        line-height: 90%;
        text-align: center;
        padding 2px 2px
    
    img
        max-height: 150px
        max-width: 150px
    .tile-pets-name
        background-color: rgba(255,255,255,0.5);
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        text-align: center;
        padding-bottom: 6px;
        
    // md-grid-list md-grid-tile::before, md-grid-list md-grid-tile::after
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     border-color: transparent;
    //     border-style: solid;
    // md-grid-list md-grid-tile::after
    //     border-width: 1.35em;
    //     border-right-color: #0c0;
    //     border-top-color: #0c0;
    
    // md-grid-tile:nth-child(2)

    md-grid-list:first-child::before, md-grid-list:first-child::after
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        border-color: transparent;
        border-style: solid;
    md-grid-list:first-child::after
        border-width: 0em;
        // border-color: #0c0
    md-grid-list
        &:first-child::after
            border-color: $color-tile-upcoming
        &.label-checkedin:first-child::after
            border-color: $md-primary
        &.label-canceled:first-child::after
            border-color: $md-accent
        &.label-noshow:first-child::after
            border-color: $md-warn
    
    
    md-grid-list md-grid-tile
        // background-color rgba(178,223,219, 0.5)
        background-color #D9EFED
        button
            min-width initial
            padding 0px
            border-radius 0px
    .tile-no-show.md-button.md-raised[disabled]
        background-color $md-warn
    .tile-cancel.md-button.md-accent[disabled]
        background-color $md-accent
    .tile-pet-img
        background-repeat no-repeat
        background-position: center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size cover
        
    div.grid-highlight 
        background $md-primary-light
    // .tile-warn::after
    //     content 'hello'
    //     position absolute
    //     top 0
    //     left
    
.selected_date_mode 
    border solid 3px
    
#box::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
}

#box::after {
    border-width: 1.35em;
    border-right-color: #0c0;
    border-top-color: #0c0;
}

#md-date-pane0 > div.md-datepicker-input-mask
    height 20px
    