@import "~variable"
#order-list
    img
        max-height: 150px
        max-width: 150px
    
    // md-grid-list md-grid-tile::before, md-grid-list md-grid-tile::after
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     border-color: transparent;
    //     border-style: solid;
    // md-grid-list md-grid-tile::after
    //     border-width: 1.35em;
    //     border-right-color: #0c0;
    //     border-top-color: #0c0;
    
    // md-grid-tile:nth-child(2)

    md-grid-list:first-child::before, md-grid-list:first-child::after
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        border-color: transparent;
        border-style: solid;
    md-grid-list:first-child::after
        border-width: 0em;
        // border-color: #0c0
    md-grid-list
        &:first-child::after
            border-color: $color-tile-upcoming
        &.label-checkedin:first-child::after
            border-color: $md-primary
        &.label-canceled:first-child::after
            border-color: $md-accent
        &.label-noshow:first-child::after
            border-color: $md-warn
    
    
    md-grid-list md-grid-tile
        // background-color rgba(178,223,219, 0.5)
        background-color #D9EFED
        button
            min-width initial
            padding 0px
            border-radius 0px
    .tile-no-show.md-button.md-raised[disabled]
        background-color $md-warn
    .tile-cancel.md-button.md-accent[disabled]
        background-color $md-accent
    
    div.grid-highlight 
        background $md-primary-light
    // .tile-warn::after
    //     content 'hello'
    //     position absolute
    //     top 0
    //     left
    
.selected_date_mode 
    border solid 3px
    
#box::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
}



#box::after {
    
    border-width: 1.35em;
    border-right-color: #0c0;
    border-top-color: #0c0;
}