<div id="order-list" layout="column" flex>
    <div layout layout-align="space-between center" flex="none" style="height:100px">
        <div layout-padding layout>
            <md-button class="md-raised" style="height:84px"
                ng-repeat="mode in $ctrl.dateModeList"
                ng-click="$ctrl.changeDate(0, $ctrl.getToday())"
                ng-class="{'md-primary':$ctrl.isToday($ctrl.date)}">
                {{mode}}
            </md-button>
        </div>
        <md-button ng-click="$ctrl.changeDate(-1)" aria-label="yesterday" style="height:84px">
            <md-icon class="s48" md-svg-src="chevron-left"></md-icon></md-button>
        <md-button ng-click="$ctrl.calOpen=!$ctrl.calOpen" style="height:84px">
            <div layout="column">
                <div style="font-size:24px; color:#333" >{{$ctrl.date | date: 'EEEE'}}</div>
                <div style="font-size:24px; color:#333" >{{$ctrl.date | date:'MM/d/y'}}</div>
                <md-datepicker md-is-open="$ctrl.calOpen" ng-model="$ctrl.date" style="display:block; width:0px; height:0px"
                    ng-change="$ctrl.getOrders($ctrl.date)"></md-datepicker>
            </div>
        </md-button>
            
        <md-button ng-click="$ctrl.changeDate(1)" aria-label="tomorrow" style="height:84px">
            <md-icon class="s48" md-svg-src="chevron-right"></md-icon></md-button>
        <div layout-padding layout>
            <md-button ng-repeat="(key, type) in $ctrl.typeList"
                ng-click="$ctrl.setType(key)"
                class="md-whiteframe-3dp" style="padding: 2px 8px;" 
                md-theme="altTheme"
                ng-class="{'{{type.css}}': true, 'md-raised': $ctrl.showType==key, 'border-solid':false}">
                {{type.text}}<br/>
                <span class="md-display-1">{{type.count}}</span>
            </md-button>
        </div>
    </div>
    <md-divider></md-divider>

    <!--<div layout="column" flex>-->
    <md-content layout layout-wrap layout-align="center start" layout-padding flex="grow">
        <div ng-show="$ctrl.typeList[$ctrl.showType].count === 0" layout="column" layout-fill>
            <div class="md-display-3" style="position:absolute; top:200px; left:0px; text-align:center; width:100%">
            There is no <span ng-show="$ctrl.showType!=='all'" style="text-transform:uppercase">{{$ctrl.typeList[$ctrl.showType].text}}</span> order.
            </div>
        </div>
        <div flex="100 "id="top" style="padding:1px"></div>
        <div flex="100" flex-md="90" flex-gt-md="80" ng-repeat="order in $ctrl.orders | orderBy: $ctrl.sortDate track by order._id"
            id="{{order._id}}"
            class="js-order-tile animate-show"
            ng-show="$ctrl.showAllTypes||(order.type == $ctrl.showType)"
            ng-class="{'grid-highlight': $ctrl.isHighlited(order._id)}">
            <!--ng-class="{'grid-highlight': $ctrl.isToday(order.scheduleAt) && $ctrl.dateMode!=='today'}">-->
            <md-grid-list md-cols="9" md-gutter="0.4em" md-row-height="8:7" 
                ng-class="{'label-checkedin':order.checkInAt, 'label-canceled':order.isCanceled, 'label-noshow':order.notShowup}">
                
                <md-grid-tile  md-colspan="2" md-rowspan="3" md-colors="{background: 'background', color:'grey-500'}">
                    <div layout layout-fill layout-align="center">
                        <div flex="90" layout-fill layout="column" layout-align="start end">
                            <div class="md-display-2" md-colors="{color:'grey-500'}">
                                {{order.scheduleAt | date:'h:mma'}}
                            </div>
                            <div class="md-subhead">
                                {{order.scheduleAt | date: 'EEE, MMM dd, y'}}
                            </div>
                        </div>
                    </div>
                </md-grid-tile>
                
                <md-grid-tile  md-colspan="2" md-rowspan="2">
                    <md-button layout-fill layout="column" layout-align="center center"
                        ng-click="$ctrl.edit(order)"
                        ng-hide="order.checkInAt">
                        <span class="md-headline">reschedule</span>
                    </md-button>
                    <div class="md-display-4" ng-show="order.checkInAt"
                        ng-class="{'label-rush':order.isRush}">
                        {{order.checkInNumber}}</div>
                </md-grid-tile>
                <md-grid-tile  md-colspan="2" md-rowspan="1">
                    <div layout="column" layout-align="center center" class="md-headline">
                        <div style="text-transform:capitalize;">{{order.customers[0].firstname | lowercase}} {{order.customers[0].lastname | lowercase}}</div>
                        <div>{{order.customers[0].phone | tel}}</div>
                    </div>
                </md-grid-tile>
                
                <md-grid-tile  md-colspan="3" md-rowspan="3" ng-if="!order.checkInAt" md-colors="{background: 'primary-500-0.85'}">
                    <md-button layout-fill ng-click="$ctrl.checkIn(order)"
                        ng-if="!order.isCanceled && !order.notShowup"><span class="md-display-1">
                        check In</span></md-button>
                    <md-button layout-fill ng-click="$ctrl.resetOrder(order)" layout="column" layout-align="center"
                        ng-if="order.isCanceled || order.notShowup"
                        ng-class="{'md-raised':order.isCanceled || order.notShowup, 'md-accent': order.isCanceled, 'tile-cancel': order.isCanceled, 'md-warn':order.notShowup , 'tile-no-show':order.notShowup }">
                        <div class="md-display-1"><span ng-show="order.isCanceled">canceled</span><span ng-show="order.notShowup">no-show</span></div>
                        <div class="md-subhead">click to reset</div>
                        </md-button></md-grid-tile>
                </md-grid-tile>
                
                <md-grid-tile md-colspan="3" md-rowspan="3" ng-if="order.isPaid" md-colors="{background: 'primary-200-0.85'}">
                    <md-button layout-fill layout="column" layout-align="center center" layout-padding
                        ng-click="" >
                        <div class="md-display-1">Checked-Out</div>
                        <!--<div layout layout-align="space-between">-->
                            <div class="md-headline">
                                {{order.checkInAt | date:'h:mma'}}
                                <md-icon md-svg-src="arrow-right-bold" aria-label="take photos"></md-icon>
                                {{order.checkOutAt | date:'h:mma'}}
                            </div>
                            <div class="md-headline">{{order.services.name}}</div>
                            <div class="md-headline">${{order.total}}</div>
                        <!--</div>-->
                        </md-button></md-grid-tile>
                        
                <md-grid-tile  md-colspan="2" md-rowspan="1" ng-if="order.checkInAt && !order.checkOutAt" md-colors="{background: 'primary-500-1'}">
                    <md-button ng-click="$ctrl.chooseService(order)" layout-fill>
                        <div layout="column" layout-align="center center">
                            <div ng-hide="order.services">select service</div>
                            <div class="md-headline">{{order.services.name}}</div>
                            <div class="md-headline">{{order.services.zhName}}</div>
                        </div>
                    </md-button>
                    
                </md-grid-tile>
                <md-grid-tile md-colspan="1" md-rowspan="1" ng-if="order.checkInAt && !order.checkOutAt">
                    <md-button layout-fill ng-click="$ctrl.changeTotal(order)" ng-disabled="!order.services">
                        <span class="md-headline">
                        ${{$ctrl.getTotal(order)}}</span></md-button></md-grid-tile>
                <md-grid-tile md-colspan="2" md-rowspan="2">
                    <!--<img ng-src="/images/pets/{{order.pet_id}}.png" alt="Washed Out" ng-click="$ctrl.showPreviousOrders(order)">-->

                    <div class="md-headline tile-pets-name">{{order.pets[0].name | uppercase}}</div></md-grid-tile>
                    
                <!--<md-grid-tile  md-colspan="2" md-rowspan="2" ng-if="!order.checkInAt" md-colors="{background: 'primary-500-0.85'}">-->
                <!--    <md-button layout-fill ng-disabled="order.checkInAt" ng-click="$ctrl.checkIn(order)"><span class="md-headline">-->
                <!--        check In</span></md-button></md-grid-tile>-->

                <!--<md-grid-tile md-colspan="2" md-rowspan="2" ng-if="order.isPaid" md-colors="{background: 'primary-200-0.85'}">-->
                <!--    <md-button layout-fill layout="column" layout-align="center center"-->
                <!--        ng-click="" >-->
                <!--        <div class="md-display-1">{{order.checkInAt | date:'h:mma'}}</div>-->
                <!--        <div><md-icon md-svg-src="arrow-down-bold" aria-label="take photos"></md-icon></div>-->
                <!--        <div class="md-display-1">{{order.checkOutAt | date:'h:mma'}}</div>-->
                <!--        <div class="md-headline">Checked-Out</div>-->
                <!--        </md-button></md-grid-tile>-->

                <md-grid-tile  md-colspan="2" md-rowspan="1" ng-if="order.checkInAt && !order.checkOutAt" md-colors="{background: 'primary-500-1'}">
                    <md-button layout-fill ng-click="$ctrl.waivers(order)" ng-disabled="!order.services">
                        waivers</md-button></md-grid-tile>
                <md-grid-tile  md-colspan="1" md-rowspan="1" ng-if="order.checkInAt && !order.checkOutAt">
                    <md-button layout-fill ng-disabled="!order.checkInAt" ng-click="$ctrl.takeSnapshot(order._id)">
                        <md-icon class="s48" md-svg-src="camera" aria-label="take photos"></md-icon></md-button></md-grid-tile>
                <!--<md-grid-tile  md-colors="{background: 'accent-500-0.85'}">-->
                
                <md-grid-tile  md-colspan="2" md-rowspan="1" ng-if="order.checkInAt" md-colors="">
                    <md-button layout-fill ng-click="$ctrl.resetOrder(order)" ng-hide="order.checkOutAt"><span class="md-headline">
                        {{$ctrl.typeList[order.type].text}}</span></md-button>
                    <md-button layout-fill ng-click="$ctrl.resetCheckOut(order)" ng-if="order.checkOutAt" class="md-headline">
                        {{$ctrl.typeList[order.type].text}}</md-button></md-grid-tile>
                
                <md-grid-tile ng-if="!order.checkInAt">
                    <!--<md-button layout-fill ng-click="$ctrl.cancel(order._id)" ng-disabled="order.isCanceled"-->
                    <md-button layout-fill ng-click="$ctrl.cancel(order)" 
                        class="md-accent tile-cancel" ng-class="{'md-raised':order.isCanceled}">
                        cancel</md-button></md-grid-tile>
                
                <!--<md-grid-tile md-colors="{background: 'warn-500-0.85'}">-->
                <md-grid-tile ng-if="!order.checkInAt">
                    <md-button layout-fill ng-click="$ctrl.notShowup(order)" ng-disabled="order.notShowup"
                        class="md-warn tile-no-show" ng-class="{'md-raised':order.notShowup}">
                        no-show</md-button layout-fill></md-grid-tile>
                <md-grid-tile  md-colspan="2" md-rowspan="1" ng-if="order.checkInAt && !order.checkOutAt" md-colors="{background: 'primary-500-1'}">
                    <md-button layout-fill ng-click="$ctrl.inhouseOdrer(order._id, order)" ng-disabled="!order.services">
                        Inhouse Orders</md-button></md-grid-tile>
                <md-grid-tile  md-colspan="1" md-rowspan="1" ng-if="order.checkInAt && !order.checkOutAt">
                    <md-button layout-fill ng-disabled="!order.checkInAt || order.isPaid || !$ctrl.getTotal(order)" ng-click="$ctrl.checkout(order)">
                        checkout</md-button></md-grid-tile>

            </md-grid-list>
        </div>
    </md-content>


</div>
