<div class="header" layout="row" layout-align="center" layout-padding layout-wrap flex="none">
    <md-button ng-click="$ctrl.backToDashboard()" class="md-primary" ng-show="$ctrl.mode!='component'">
        <md-icon md-svg-src="arrow-left-bold-circle"></md-icon>
        Back to dashboard
    </md-button>
    <div class="" layout="row" flex="none" layout-align="center center" ng-show="$ctrl.mode=='component'">
        <md-button
            class="md-primary"
            ng-repeat="tab in $ctrl.tabs"
            ng-class="{'md-raised': $ctrl.selectedTab==tab.value}"
            ng-click="$ctrl.selectedTab=tab.value">
            {{tab.name}}
        </md-button>
    </div>
    <div flex></div>
    <md-button class="md-primary md-raised" ng-disabled="!$ctrl.validate()" ng-click="$ctrl.update()">
        <md-icon md-svg-src="content-save"></md-icon>
        Update
    </md-button>
</div>
<div class="" layout="row" flex="none" layout-align="center center" ng-show="$ctrl.mode!='component'">
    <md-button
        class="md-primary"
        ng-repeat="tab in $ctrl.tabs"
        ng-class="{'md-raised': $ctrl.selectedTab==tab.value}"
        ng-click="$ctrl.selectedTab=tab.value">
        {{tab.name}}
    </md-button>
</div>
<md-content layout="column" flex>
    <md-content ng-show="$ctrl.selectedTab==0" class="md-padding form" flex layout="column">
        <div class="" layout="row" flex="none">
            <md-input-container class="md-block" flex>
                <label>Name</label>
                <input type="text" ng-model="$ctrl.pet.name" aria-label="pet-name" required/>
            </md-input-container>
            <md-input-container class="md-input-has-value" flex>
                <label>Gender</label>
                <md-radio-group ng-model="$ctrl.pet.gender" layout="row" class="padding-6-0">
                    <md-radio-button value="male" aria-label="gender-male">
                        <md-icon md-svg-src="gender-male"></md-icon>
                    </md-radio-button>
                    <md-radio-button value="female" aria-label="gender-male">
                        <md-icon md-svg-src="gender-female"></md-icon>
                    </md-radio-button>
                </md-radio-group>
            </md-input-container>
        </div>
        <div class="" layout="row" flex="none">
            <md-autocomplete
                flex
                md-input-name="autocompleteField"
                md-input-minlength="2"
                md-input-maxlength="30"
                md-selected-item="$ctrl.pet.breed"
                md-search-text="$ctrl.searchText"
                md-items="item in $ctrl.breeds | filter:$ctrl.searchText"
                md-item-text="item.name"
                md-require-match
                md-floating-label="Breed">
                <md-item-template>
                    <span md-highlight-text="$ctrl.searchText" md-highlight-flags="^i">
                        {{item.name}}
                        {{item.zhName}}
                    </span>
                </md-item-template>
            </md-autocomplete>
            <md-input-container class="md-input-has-value" flex="50">
                <label>Dog or Cat?</label>
                <md-radio-group ng-model="$ctrl.pet.species" layout="row" class="padding-6-0">
                    <md-radio-button value="dog" aria-label="dog">
                        <md-icon md-svg-src="./assets/svg/dog.svg"></md-icon>
                    </md-radio-button>
                    <md-radio-button value="cat" aria-label="cat">
                        <md-icon md-svg-src="./assets/svg/cat.svg"></md-icon>
                    </md-radio-button>
                </md-radio-group>
            </md-input-container>

        </div>
        <div class="" layout="row" flex="none">
            <md-input-container flex="50">
                <label>Weight</label>
                <input type="text" ng-model="$ctrl.pet.weight" aria-label="pet-weight">
            </md-input-container>
            <md-input-container flex>
                <label>Birthday</label>
                <!-- <input type="date" ng-model="$ctrl.pet.birthday" aria-label="pet-weight"> -->
                <md-datepicker md-open-on-focus ng-model="$ctrl.pet.birthday" md-max-date="$ctrl.birthdayLimit.max" md-placeholder="birthday"></md-datepicker>
            </md-input-container>
        </div>
        <div class="" layout="row" flex="none">
            <md-input-container class="md-input-has-value">
                <label>Color</label>
                <md-radio-group ng-model="$ctrl.pet.color" layout="row" class="padding-6-0" layout="row" layout-wrap>
                    <md-radio-button flex="33" style="margin:10px 0px;" ng-repeat="color in $ctrl.colors" value="{{color.name}}" aria-label="pet-color-{{color.name}}">
                        <md-icon style="color:{{color.value}}; background-color:#999" md-svg-src="checkbox-blank-circle"></md-icon>
                        <span class="md-body-1">{{color.name}}</span>
                    </md-radio-button>
                </md-radio-group>
            </md-input-container>
        </div>
        <div class="" layout="row" flex="none">
            <div class="" ng-show="$ctrl.mode!='component'">
                <label for="cameraInput" class="md-accent">
                    <md-icon md-svg-src="camera"></md-icon>
                    Take a Picture
                </label>
                <input class="photo-input" onchange="angular.element(this).scope().changePicture(this.files)" type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput"/>
            </div>
            <div class="preview">
                <img ng-src="{{$ctrl.preview}}" alt="" ng-hide="!$ctrl.preview"/>
            </div>
        </div>
    </md-content>

    <md-content ng-show="$ctrl.selectedTab==1" class="md-padding form" flex layout="column">
        <div flex="none" layout="column" ng-repeat="(prop, vaccineItem) in $ctrl.vaccinations">
            <div class="" layout="row" flex="none">
                <h2 class="md-headline" flex>
                    {{vaccineItem.name}}
                    <span ng-show="vaccineItem.rejectOrderIfIsExpired">(required)</span>
                </h2>
                <md-button ng-click="$ctrl.addVaccine(vaccineItem)" class="md-accent">
                    <md-icon md-svg-src="plus"></md-icon>
                    Add
                </md-button>
            </div>
            <div class="vaccine-item" flex="none" layout="column" ng-repeat="item in $ctrl.pet.vaccinations | orderBy:['issuedAt']:true track by $index" ng-if="item.name == vaccineItem.name">
                <div class="" layout="row" flex="none">
                    <!-- <md-input-container class="md-block" flex="5">
                        <md-icon flex md-svg-src="./assets/svg/needle.svg"></md-icon>
                    </md-input-container> -->
                    <div class="" flex="40" layout>
                        <md-input-container class="md-block" >
                            <label>Issued At</label>
                            <!--
                            md-hide-icons="calendar" -->
                            <md-datepicker
                                md-open-on-focus
                                ng-model="item.issuedAt"
                                ng-change="$ctrl.setDaysBeforeExpire(item, vaccineItem.name)">
                            </md-datepicker>
                        </md-input-container>
                    </div>
                    <div class="" flex="20" layout="row" layout-align="center start" ng-show="item.issuedAt">
                        <md-input-container>
                            <label>Good For</label>
                            <md-select
                                ng-model="item.effectiveDuration" aria-label="{{name}}-vaccine effective duration"
                                ng-disabled="!item.issuedAt"
                                ng-change="$ctrl.setDaysBeforeExpire(item, vaccineItem.name)">
                                <md-option
                                    ng-repeat="option in $ctrl.durationOptions" ng-value="option.value">
                                    {{option.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <!-- <md-input-container class="md-block" flex="5">
                        <md-icon flex md-svg-src="./assets/svg/needle-renew.svg"></md-icon>
                    </md-input-container> -->
                    <div flex="40" layout="row" layout-align="end" ng-show="item.issuedAt">
                        <md-input-container class="md-block">
                            <label>Expired At</label>
                            <md-datepicker md-hide-icons="calendar" disabled="true" ng-model="item.expiredAt" md-max-date="$ctrl.birthdayLimit.max" ng-change="$ctrl.setDaysBeforeExpire(item)"></md-datepicker>
                        </md-input-container>
                    </div>

                </div>
                <div class="" layout="row" flex="none" layout-align="start center">
                    <div flex="30" layout="row">
                        <div class="" ng-class="{
                            'alert': $ctrl.getDaysBeforeDue(item.expiredAt)<=30
                        }">
                            <span ng-show="item.expiredAt">
                                <small>
                                    Days before due: {{$ctrl.getDaysBeforeDue(item.expiredAt)}} days
                                </small>
                            </span>
                        </div>
                    </div>
                    <div class="" layout="row" flex ng-show="item.issuedAt">
                        <div class="" ng-show="!item.document" flex>
                            <md-button class="md-accent" ng-disabled="!item.expiredAt">
                                <label for="documentInput" class="md-accent">
                                    <span ng-show="!$ctrl.vaccinationsDocuments[item.keyID]">
                                        <md-icon md-svg-src="upload"></md-icon>
                                        Upload Document
                                    </span>
                                    <span ng-show="$ctrl.vaccinationsDocuments[item.keyID]">
                                        <md-icon md-svg-src="autorenew"></md-icon>
                                        {{$ctrl.vaccinationsDocuments[item.keyID].name}}
                                    </span>
                                </label>
                                <input class="upload-input" id="documentInput" name="documentInput" onchange="angular.element(this).scope().uploadVaccination(this.files)" ng-click="$ctrl.currentVaccine = item" type="file"/>
                            </md-button>
                        </div>
                        <div class="" ng-show="item.document" flex>
                            <md-button class="md-accent" ng-click="$ctrl.viewDocument(item)">
                                <span ng-show="$ctrl.showDocument != item.document">
                                    view document
                                </span>
                                <span ng-show="$ctrl.showDocument == item.document">
                                    hide Document
                                </span>
                            </md-button>
                        </div>
                        <div class="">
                            <md-button ng-click="$ctrl.removeVaccine(item)" class="md-warn">
                                remove
                            </md-button>
                        </div>
                    </div>
                </div>
                <div class="" layout="column" ng-show="item.document && $ctrl.showDocument == item.document">
                    <iframe src="{{item.document}}" class="preview-document"></iframe>
                </div>
            </div>
            <md-divider></md-divider>
        </div>
    </md-conten>

    <md-content ng-show="$ctrl.selectedTab==2" class="md-padding form" flex layout="column">
        123123
        <h2 class="md-headline">Special Conditions</h2>
        <md-input-container flex="100" ng-repeat="conditions in $ctrl.pet.specialConditions track by $index">
            <label>Condition
                {{$index+1}}
                ({{conditions.createdAt | date: 'mediumDate'}})</label>
            <textarea ng-model="conditions.description" md-maxlength="150" rows="3" md-select-on-focus></textarea>
        </md-input-container>
        <div flex layout layout-align="end center">
            <md-button class="md-fab md-mini" aria-label="add condition" ng-click="$ctrl.addTextarea('specialConditions')">
                <md-icon md-svg-src="plus"></md-icon>
            </md-button>
        </div>
        <h2 class="md-headline">Additional Instructions</h2>
        <md-input-container flex="100" ng-repeat="instructions in $ctrl.pet.additionalInstructions track by $index">
            <label>Instruction
                {{$index+1}}
                ({{instructions.createdAt | date: 'mediumDate'}})</label>
            <textarea ng-model="instructions.description" md-maxlength="150" rows="3" md-select-on-focus></textarea>
        </md-input-container>
        <div flex layout layout-align="end center">
            <md-button class="md-fab md-mini" aria-label="add Instruction" ng-click="$ctrl.addTextarea('additionalInstructions')">
                <md-icon md-svg-src="plus"></md-icon>
            </md-button>
        </div>
    </md-conten>
</md-content>
