<div layout="column" flex id="client-pets-form">
    <div layout="row" layout-align="center" layout-padding layout-wrap style="background-color:beige;" flex="none">
        <!--<h1 class="md-display-1">Human</h1>-->
        <div flex="60"  layout="row" layout-align="center">
            <div class="md-subhead" style="padding-top:0px">Tap to change avatar</div>
            <img src="./assets/img/human_avatar_example.png"
                style="height:50px; padding-right: 25px" layout-padding></img>
            <img src="./assets/img/border-collie.png"
                style="height:100px;" layout-padding></img>
        </div>
        <div layout="row" layout-align="end center">
            <div class="preview">
                <img ng-src="{{$ctrl.preview}}" alt="" />
            </div>

            <md-button class="md-fab md-primary" aria-label="take a picture"
                ng-click="$ctrl.takeSnapshot()">
                <md-icon md-svg-src="camera"></md-icon>
            </md-button>
        </div>
    </div>
    <div layout="row" flex>
        <div layout="column" flex="80">
        <md-tabs md-border-bottom md-swipe-content=true flex md-selected="$ctrl.selectedTab" ng-init="$ctrl.selectedTab=0">

            <md-tab label="Basic">
                <md-content class="md-padding" flex layout="row" layout-wrap>
                        <!--customer_id:-->
                        <!--{{$ctrl.pet.customer_id}}-->
                    <md-input-container class="md-block" flex="60">
                        <label>Name</label>
                        <input type="text" ng-model="$ctrl.pet.name" aria-label="pet-name">
                    </md-input-container>
                    <md-input-container class="md-input-has-value" flex="40">
                        <label>Dog or Cat?</label>
                        <md-radio-group ng-model="$ctrl.pet.species" layout="row" class="padding-6-0">
                            <md-radio-button value="dog" aria-label="dog">
                                <md-icon md-svg-src="./assets/svg/dog.svg"></md-icon>
                            </md-radio-button>
                            <md-radio-button value="cat" aria-label="cat">
                                <md-icon md-svg-src="./assets/svg/cat.svg"></md-icon>
                            </md-radio-button>
                        </md-radio-group>
                    </md-input-container>

                    <md-autocomplete flex="60"
                     md-input-name="autocompleteField"
                        md-input-minlength="2"
                        md-input-maxlength="30"
                        md-selected-item="$ctrl.pet.breed"
                        md-search-text="$ctrl.searchText"
                        md-items="item in $ctrl.breeds | filter:$ctrl.searchText"
                        md-item-text="item.name"
                        md-require-match
                        md-floating-label="Breed">
                        <md-item-template>
                            <span md-highlight-text="$ctrl.searchText" md-highlight-flags="^i">{{item.name}}</span>
                        </md-item-template>
                    </md-autocomplete>
                    <md-input-container class="md-input-has-value" flex="40">
                        <label>Gender</label>
                        <md-radio-group ng-model="$ctrl.pet.gender" layout="row" class="padding-6-0">
                            <md-radio-button value="male" aria-label="gender-male">
                                <md-icon md-svg-src="gender-male"></md-icon>
                            </md-radio-button>
                            <md-radio-button value="female" aria-label="gender-male">
                                <md-icon md-svg-src="gender-female"></md-icon>
                            </md-radio-button>
                        </md-radio-group>
                    </md-input-container>

                    <md-input-container class="md-input-has-value" flex="100">
                        <label>Color</label>
                        <md-radio-group ng-model="$ctrl.pet.color" layout="row" class="padding-6-0" layout="row" layout-wrap>
                            <md-radio-button flex="33" style="margin:10px 0px;"
                                ng-repeat="color in $ctrl.colors"
                                value="{{color.name}}" aria-label="pet-color-{{color.name}}"
                                >
                                <md-icon style="color:{{color.value}}; background-color:#999" md-svg-src="checkbox-blank-circle"></md-icon>
                                <span class="md-body-1">{{color.name}}</span>
                            </md-radio-button>
                        </md-radio-group>
                    </md-input-container>

                    <md-input-container flex="40">
                        <label>Weight</label>
                        <input type="text" ng-model="$ctrl.pet.weight" aria-label="pet-weight">
                    </md-input-container>

                    <md-input-container class="md-block" flex="60">
                        <label>Birthday</label>
                        <md-datepicker ng-model="$ctrl.pet.birthday" md-max-date="$ctrl.birthdayLimit.max" md-placeholder="birthday"></md-datepicker>
                    </md-input-container>
                </md-content>
            </md-tab>

            <md-tab label="Vaccines">
                <!--Canine and Feline Vaccination Guidelines from UC Davis-->
                <!--http://www.vetmed.ucdavis.edu/vmth/small_animal/internal_medicine/newsletters/vaccination_protocols.cfm-->
                <md-content class="md-padding" layout="row" flex layout-wrap>

                    <span flex="100" layout layout-wrap
                        ng-repeat="(index, vaccineItem) in $ctrl.vaccinations">
                        <h2 class="md-headline" flex="100">{{vaccineItem.name}}</h2>
                        <span flex="100" layout layout-wrap
                            ng-repeat="item in $ctrl.pet.vaccinations"
                            ng-if="item.name == vaccineItem.name">
                            <md-input-container class="md-block" flex="10">
                                <md-icon flex md-svg-src="./assets/svg/needle.svg"></md-icon>
                            </md-input-container>
                            <md-input-container class="md-block" flex="40" layout>
                                <label>Last Vaccination Date</label>
                                <md-datepicker md-hide-icons="calendar"
                                    ng-model="item.issuedAt"
                                    md-max-date="$ctrl.birthdayLimit.max"
                                    md-placeholder="Last Vaccination Date"
                                    ng-change="$ctrl.setDaysBeforeExpire(item, $parent.$index)"></md-datepicker>
                            </md-input-container>
                            <md-input-container flex="50">
                                <label>Good For</label>
                                <md-select ng-model="item.effectiveDuration" aria-label="{{name}}-vaccine effective duration"
                                    ng-disabled="!item.issuedAt"
                                    ng-change="$ctrl.setDaysBeforeExpire(item, $parent.$index)">
                                    <md-option value="">

                                    </md-option>
                                    <md-option ng-repeat="(value, display) in {1: '1 Year', 3: '3 Years'}" ng-value="value">
                                        {{display}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex="10">
                                <md-icon flex md-svg-src="./assets/svg/needle-renew.svg"></md-icon>
                            </md-input-container>
                            <md-input-container class="md-block" flex="40" layout>
                                <label>Vaccine Due Date</label>
                                <md-datepicker md-hide-icons="calendar"
                                    disabled="true"
                                    ng-model="item.expiredAt"
                                    md-max-date="$ctrl.birthdayLimit.max"
                                    md-placeholder="Last Vaccination Date"
                                    ng-change="$ctrl.setDaysBeforeExpire(item)"></md-datepicker>
                            </md-input-container>
                            <div flex="50">Days before due:<br />
                                <span ng-show="!item.daysBeforeDue">
                                    Enter vaccination date and duration
                                </span>
                                {{item.daysBeforeDue}} days
                            </div>
                        </span>
                    </span>
                    <!--<div ng-repeat="vaccination in $ctrl.pet.vaccinations">-->
                    <!--    <h2 class="md-headline"></h2>-->
                    <!--    <p>{{vaccination.description}}<p>-->
                    <!--    <md-icon md-svg-src="./assets/svg/needle.svg"></md-icon>-->
                    <!--    {{vaccination.issuedAt}}-->
                    <!--    <md-icon md-svg-src="./assets/svg/needle-renew.svg"></md-icon>-->
                    <!--    {{vaccination.expiredAt}}-->
                    <!--</div>-->
                </md-content>
            </md-tab>

            <md-tab label="Notes">
                <md-content class="md-padding" layout="column" >
                    <h2 class="md-headline">Special Conditions</h2>
                    <md-input-container flex="100" ng-repeat="conditions in $ctrl.pet.specialConditions">
                        <label>Condition {{$index+1}} ({{conditions.createdAt | date: 'mediumDate'}})</label>
                        <textarea ng-model="conditions.description" md-maxlength="150" rows="3" md-select-on-focus></textarea>
                    </md-input-container>
                    <div flex="100" layout layout-align="end center">
                        <md-button class="md-fab md-mini"aria-label="add condition"
                            ng-click="$ctrl.addTextarea('specialConditions')"
                            >
                            <md-icon md-svg-src="plus"></md-icon>
                        </md-button>
                    </div>
                    <h2 class="md-headline">Additional Instructions</h2>
                    <md-input-container flex="100" ng-repeat="instructions in $ctrl.pet.additionalInstructions">
                        <label>Instruction {{$index+1}} ({{instructions.createdAt | date: 'mediumDate'}})</label>
                        <textarea ng-model="instructions.description" md-maxlength="150" rows="3" md-select-on-focus></textarea>
                    </md-input-container>
                    <div flex="100" layout layout-align="end center">
                        <md-button class="md-fab md-mini"aria-label="add Instruction"
                            ng-click="$ctrl.addTextarea('additionalInstructions')"
                            >
                            <md-icon md-svg-src="plus"></md-icon>
                        </md-button>
                    </div>
                </md-content>
            </md-tab>

            <!-- <md-tab label="Gallery">
                <md-content class="md-padding">
                    <h2 class="md-headline">Photos go here.</h2>
                </md-content>
            </md-tab> -->

        </md-tabs>
        </div>

        <div layout="column" flex="">
            <md-button  layout-fill layout-padding layout="column" class="md-raised"
                ng-disabled="!$ctrl.validate()"
                ng-click="$ctrl.update()">
                <md-icon md-svg-src="content-save" class="s48"></md-icon>
                Update</md-button>

            <md-button flex layout-fill layout="column" class="md-raised md-primary" aria-label="next"
                ng-click="$ctrl.changeTab(+1)" >
                <md-icon md-svg-src="chevron-right" class="s48"></md-icon>
                Next Step</md-button>
            <md-button flex layout-fill layout="column" class="md-raised" aria-label="back"
                ng-click="$ctrl.changeTab(-1)">
                <md-icon md-svg-src="chevron-left" class="s48"></md-icon>
                Back</md-button>
        </div>
    </div>
</div>
