client-pets-form
    .error
        color: #f51c4d
        font-size: 1.2em
    .preview
        img
            max-width: 150px
            max-height: 150px
    .step-control
        button
            margin: 0px
    .form
        padding: 50px
        font-size: 1.5em
    .header
        background-color:beige
        min-height: 80px
    .content
        padding-left: 50px
        padding-right: 50px
    md-input-container
        .md-input
            margin-top: 10px

    .review
        p
            font-size: 2em
    .photo-input
    	width: 0.1px;
    	height: 0.1px;
    	opacity: 0;
    	overflow: hidden;
    	position: absolute;
    	z-index: -1;
    .photo-input + label
        font-size: 1.25em;
        font-weight: 700;
        color: white;
        background-color: black;
        display: inline-block;
    .photo-input:focus + label,
    .photo-input + label:hover
        background-color: red;
