// @import "~variable"
#transaction-dashboard
    .p-l-6px
        padding-left 6px
    .p-r-6px
        padding-right 6px
    nav md-datepicker
        display block
        width 0px
        height 0px
