transactions-new
    .self-services
        font-size: 1.5em
        .details
            margin-top: 5px
            border-top: 1px solid #494949
            padding: 20px
            font-size: 0.9em
            color: #494949
