<md-content layout="column" flex class="md-padding">
    <!-- <h1>new transactions need to be resolve</h1> -->
    <div class="self-services" layout="column" flex="none" ng-show="$ctrl.credits.length>0">
        <h3>New Credits Purchase 點數購買（新）</h3>
        <md-card class="md-padding" layout="row" flex ng-repeat="item in $ctrl.credits" layout-align="space-between center">
            <div class="" flex="30" layout="column">
                <div class="">
                    {{item.customers[0].phone | tel }}
                </div>
                <div class="">
                    {{item.customers[0].firstname}}
                    {{item.customers[0].lastname}}
                </div>
            </div>
            <div class="" flex layout="row" layout-align="center center">
                {{item.balance | currency}}
            </div>
            <div class="">
                <md-button class="md-warn" ng-click="$ctrl.cancelUnpaid(item)">
                    cancel
                </md-button>
            </div>
            <div class="">
                <md-button class="md-primary md-raised" ng-click="$ctrl.pay(item, 'credit')">
                    pay
                </md-button>
            </div>
        </md-card>
    </div>
    <div class="self-services" layout="column" flex="none" ng-show="$ctrl.selfServices.length>0">
        <h3>New Self Services 自助服務（新）</h3>
        <md-card class="md-padding md-whiteframe-3dp" layout="column" flex ng-repeat="item in $ctrl.selfServices">
            <div class="" layout="row" flex layout-align="start center">
                <div class="" flex="30">
                    {{item.createdAt | date:'medium' }}
                </div>
                <div class="" flex layout="row" layout-align="center center">
                    {{item.total | currency}}
                </div>
                <div class="">
                    <md-button class="md-warn" ng-click="$ctrl.cancelSelfService(item)">
                        cancel
                    </md-button>
                </div>
                <!-- <div class="">
                    <md-button class="md-warn" ng-click="$ctrl.cancel(item, 'selfService')">
                        edit
                    </md-button>
                </div> -->
                <div class="">
                    <md-button class="md-primary md-raised" ng-click="$ctrl.pay(item, 'selfService')">
                        pay
                    </md-button>
                </div>
            </div>
            <div class="details" layout="row" flex>
                <div class="" layout="column" flex="30">
                    <div class="">
                        {{item.customers[0].phone | tel }}
                    </div>
                    <div class="">
                        {{item.customers[0].firstname}}
                        {{item.customers[0].lastname}}
                    </div>
                </div>
                <div class="" layout="column" flex="35">
                    <div class="" layout="row" flex ng-repeat="service in item.services">
                        <md-input-container>
                            <md-select ng-model="item.services[$index]" ng-change="$ctrl.editSelfService(item)" aria-label="change self service">
                                <md-option
                                    ng-repeat="option in $ctrl.selfServiceList.basic"
                                    ng-selected="option.keyID == service.keyID"
                                    ng-value="option">
                                    {{option.name}}
                                    {{option.zhName}}
                                    {{option.price | currency}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
                <div class="" layout="column" flex="35">
                    <md-button
                        ng-click="$ctrl.toggleAddons(addon, item)"
                        ng-repeat="addon in $ctrl.selfServiceList.addon"
                        ng-class="{
                            'selected-addon': $ctrl.isAddonSelected(addon, item)
                        }" >
                        {{addon.name}}
                        {{addon.zhName}}
                        {{addon.price | currency}}
                    </md-button>
                </div>
            </div>
        </md-card>
    </div>
</md-content>
