@import "~variable"
client
    .header
        height: 50px
        md-icon
            margin-right: 20px
            margin-left: 10px
            margin-top: -5px
            transform: scale(1.2,1.2);
