@import "~variable"
client
    .header
        height: 50px
        md-icon
            color: rgba(205, 205, 205, 0.5)
            fill: rgba(205, 205, 205, 0.5)
            margin-right: 20px
            margin-left: 10px
            margin-top: -5px
            transform: scale(1.2,1.2);

    // for iOS
    md-content
        -webkit-overflow-scrolling: auto;
