<md-content layout="column" flex id="orders-form" layout-fill>
    <!-- <div layout="row" class="md-padding header" flex="none">
        <md-button ng-click="$ctrl.setOrder()" class="md-raised">reset</md-button>
        <div flex></div>
        <h1 ng-show="$ctrl.order.scheduleAt">
            {{$ctrl.order.scheduleAt | date:'EEEE h:mma @ MMMM d, y'}}
        </h1>
        <div flex></div>
        <md-button
            ng-disabled="!$ctrl.validateForm()"
            ng-click="$ctrl.submitOrder()" class="md-primary md-raised">
            submit
        </md-button>
    </div> -->
    <div class="" layout="row" flex>
        <calendar goto-date="$ctrl.order.scheduleAt" on-update="$ctrl.updateDate(date)" default-view="month" select-date="true" select-event="false" layout="column" flex="80"></calendar>
        <md-content class="" layout="column">
            <div class="" layout="row" flex="none">
                <md-button ng-click="$ctrl.setOrder()" class="md-raised">reset</md-button>
                <div flex></div>
                <md-button ng-disabled="!$ctrl.validateForm()" ng-click="$ctrl.submitOrder()" class="md-primary md-raised">
                    submit
                </md-button>
            </div>
            <md-divider></md-divider>
            <div class="schedule-at-date" layout="column" layout-align="center center">
                <h4 ng-show="$ctrl.order.scheduleAt">
                    <!-- {{$ctrl.order.scheduleAt | date:'EEEE h:mma @ MMMM d, y'}} -->
                    {{$ctrl.order.scheduleAt | date:'EEEE h:mma'}}
                </h4>
                <h4 ng-show="$ctrl.order.scheduleAt">
                    {{$ctrl.order.scheduleAt | date:'MMMM d, y'}}
                </h4>
            </div>
            <time-date-picker ng-model="$ctrl.order.scheduleAt" display-mode="full" default-date="$ctrl.defaultDate" mindate="{{$ctrl.scheduleDate.min}}" maxdate="{{$ctrl.scheduleDate.max}}" autosave>
            </time-date-picker>
            <md-content layout="column" class="pet-select">
                <md-subheader>Customer</md-subheader>
                <div class="customer-field">
                    <p>
                        {{$ctrl.customer.firstname}} {{$ctrl.customer.lastname}}
                    </p>
                    <p>
                        {{$ctrl.customer.phone | tel}}
                    </p>
                </div>
            </md-content>

            <md-content layout="column" class="pet-select" flex>
                <md-subheader>Pets</md-subheader>
                <div class="customer-field">
                    <div layout="row" ng-repeat="pet in $ctrl.pets">
                        <md-checkbox ng-model="$ctrl.candidates[pet._id]" aria-label="include-{{pet._id}}">
                            <strong>{{pet.name}}</strong>
                        </md-checkbox>
                    </div>
                </div>
            </md-content>
            <md-content layout="column" flex="none">
                <md-input-container>
                    <label>Service</label>
                    <md-select ng-model="$ctrl.order.services">
                        <md-option><em>None</em></md-option>
                        <md-option ng-repeat="service in $ctrl.services" ng-show="service.isActivated && !service.isDeleted" ng-value="service" ng-disabled="$index === 1">
                            {{service.name}} {{service.zhName}} {{service.price | currency}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </md-content>
            <!-- <md-input-container class="md-block" flex>
                <label>Notes</label>
                <textarea ng-model="$ctrl.order.notes" md-maxlength="150" rows="3" md-select-on-focus></textarea>
            </md-input-container> -->
        </md-content>
    </div>

</md-content>