@import "~variable"
#printer
    padding: 15px
    .connected
        background-color: #0c9400
    .disconnected
        background-color: #a41313
    .status-message
        line-height: 50px
        font-size: 2em
        padding-left: 20px
        padding-right: 50px

#status-light
    width: 50px
    height: 50px
    border-radius: 25px
    // border 1px solid #cdcdcd
