client-customers-form
    .header
        background-color:beige
        min-height: 80px
    .content
        font-size: 1.5em
        padding-left: 50px
        padding-right: 50px
    // md-input-container
    //     label
    //         font-size: 2em
    //     .md-input
    //         margin-top: 20px

    .review
        p
            font-size: 1.2em
