client-customers-form
    .header
        background-color:beige
        min-height: 80px
    .content
        padding-left: 50px
        padding-right: 50px
    md-input-container
        label
            font-size: 2em
        .md-input
            margin-top: 20px
            font-size: 2em

    .review
        p
            font-size: 2em
