#pet-photo-gallery
    md-grid-tile .gallery-img
        background-repeat no-repeat
        background-position: center center;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size contain
    .tile-gallery-img
        img
            max-width: 100%
            height: auto
#preview-large
    position: fixed;
    z-index: 1000
    left: 0px
    top: 0px
    width 100%
    height 100vh
    margin: auto
    background-color rgba(0, 0, 0, 0.75)
    img
        max-height: 100%
        width: auto
