#customer-detail-dialog
    md-toolbar
        min-height 20px
    .header
        height: 20px
    md-dialog
        min-width: 1100px
        min-height: 600px

    .gallery
        .md-subheader
            span
                font-size: 2em
    .gallery-box
        min-width: 320px
        height: 500px
    img
        height auto
        width: 300px

    .customer-form
        .md-subheader
            padding: 0px

#preview-large
    z-index: 300
    position: fixed
    top: 0px
    left: 0px;
    width:1000px
    height:700px
    line-height:700px
    img
        width: 100%
