#customer-detail-dialog
    md-toolbar
        min-height 20px
    .header
        height: 20px
    md-dialog
        min-width: 1100px
        min-height: 600px

    .gallery
        .md-subheader
            span
                font-size: 2em
    .gallery-box
        width:350px
        height: 100%
    img
        height auto
        width: 300px

    .customer-form
        .md-subheader
            padding: 0px

    md-input-container
        padding: 0px
        margin: 0px
