#customer-detail-dialog
    min-height: 100vh
    min-width: 100%
    // min-width: 1100px
    // min-height: 600px
    md-toolbar
        min-height 20px
    .header
        height: 20px

    .gallery
        .md-subheader
            span
                font-size: 2em
    .gallery-box
        min-width: 320px
        height: 500px
    img
        height auto
        width: 300px

    .customer-form
        .md-subheader
            padding: 0px
