<div layout="column" flex>
    <md-tabs md-border-bottom md-swipe-content=true flex md-selected="$ctrl.selectedTab" ng-init="$ctrl.selectedTab=0">
        <md-tab label="Basic">
            <md-content class="md-padding" flex layout="column">
                <div layout="row" flex>
                    <div layout="row" flex="75" layout-wrap>
                        <div class="" flex="100">
                            customer_id:
                            {{$ctrl.pet.customer_id}}
                        </div>
                        
                        <md-input-container class="md-block" flex="60">
                            <label>Name</label>
                            <input type="text" ng-model="$ctrl.pet.name" aria-label="pet-name">
                        </md-input-container>
                        <md-input-container class="md-input-has-value" flex="40">
                            <label>Dog or Cat?</label>
                            <md-radio-group ng-model="$ctrl.pet.species" layout="row" class="padding-6-0">
                                <md-radio-button value="dog" aria-label="dog">
                                    <md-icon md-svg-src="./assets/svg/dog.svg"></md-icon>
                                </md-radio-button>
                                <md-radio-button value="cat" aria-label="cat">
                                    <md-icon md-svg-src="./assets/svg/cat.svg"></md-icon>
                                </md-radio-button>
                            </md-radio-group>
                        </md-input-container>
                        
                        <!--<md-input-container flex="60">-->
                        <!--    <label>Breed</label>-->
                        <!--    <input type="text" ng-model="$ctrl.pet.breed.name" aria-label="pet-breed">-->
                        <!--</md-input-container>-->
                        <md-autocomplete flex="60"
                         md-input-name="autocompleteField"
                            md-input-minlength="2"
                            md-input-maxlength="30"
                            md-selected-item="$ctrl.pet.breed"
                            md-search-text="$ctrl.searchText"
                            md-items="item in $ctrl.breeds | filter:$ctrl.searchText"
                            md-item-text="item.name"
                            md-require-match
                            md-floating-label="Breed">
                            <md-item-template>
                                <span md-highlight-text="$ctrl.searchText" md-highlight-flags="^i">{{item.name}}</span>
                            </md-item-template>
                        </md-autocomplete>
                        <md-input-container class="md-input-has-value" flex="40">
                            <label>Gender</label>
                            <md-radio-group ng-model="$ctrl.pet.gender" layout="row" class="padding-6-0">
                                <md-radio-button value="male" aria-label="gender-male">
                                    <md-icon md-svg-src="gender-male"></md-icon>
                                </md-radio-button>
                                <md-radio-button value="female" aria-label="gender-male">
                                    <md-icon md-svg-src="gender-female"></md-icon>
                                </md-radio-button>
                            </md-radio-group>
                        </md-input-container>
                        
                        <md-input-container class="md-input-has-value" flex="100">
                            <label>Color</label>
                            <md-radio-group ng-model="$ctrl.pet.color" layout="row" class="padding-6-0" layout="row" layout-wrap>
                                <md-radio-button flex="33" style="margin:10px 0px;"
                                    ng-repeat="color in $ctrl.colors"
                                    value="{{color.name}}" aria-label="pet-color-{{color.name}}"
                                    >
                                    <md-icon style="color:{{color.value}}; background-color:{{color.value}}; box-shadow: 3px 3px yellowgreen;" md-svg-src="checkbox-blank-circle"></md-icon>
                                    <span class="md-body-1">{{color.name}}</span>
                                </md-radio-button>
                            </md-radio-group>
                        </md-input-container>
                        
                        <md-input-container flex="40">
                            <label>Weight</label>
                            <input type="text" ng-model="$ctrl.pet.weight" aria-label="pet-weight">
                        </md-input-container>
                        
                        <md-input-container class="md-block" flex="60">
                            <label>Birthday</label>
                            <md-datepicker ng-model="$ctrl.pet.birthday" md-max-date="$ctrl.birthdayLimit.max" md-placeholder="birthday"></md-datepicker>
                        </md-input-container>
                        
                        
                        

                    </div>
                    <div layout="column" flex>
                        <md-button ng-click="$ctrl.takeSnapshot()">take a picture</md-button>
                        <img ng-src="{{$ctrl.pet.picture}}" style="width:300px"/>
                    </div>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Vaccinations">
            <md-content class="md-padding">
                <div ng-repeat="vaccination in $ctrl.pet.vaccinations">
                    {{vaccination.name}}
                    {{vaccination.issuedAt}}
                    {{vaccination.expiredAt}}
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Special Conditions">
            <md-content class="md-padding">
                specialConditions
            </md-content>
        </md-tab>
        <md-tab label="Additional Instruction">
            <md-content class="md-padding">
                additionalInstructions
            </md-content>
        </md-tab>

    </md-tabs>

    <div layout="row" flex="none">
        <div flex></div>
        <md-button ng-click="$ctrl.changeTab(-1)" class="md-raised md-primary">Back</md-button>
        <md-button ng-click="$ctrl.changeTab(+1)" class="md-raised md-primary">Next Step</md-button>
        <div flex></div>
        <md-button ng-click="$ctrl.update()" class="md-raised md-primary">Update</md-button>
        <div flex></div>
    </div>
</div>
