<div class="" id="customers-list" layout="row" flex>
    <md-content layout="column" flex>
        <table flex st-table="displayedCollection" st-safe-src="$ctrl.customers" class="table table-striped">
            <thead>
                <tr>
                    <th colspan="4">
                        <md-icon md-svg-src="magnify"></md-icon>
                        <md-input-container class="md-block">
                            <input st-search="" class="form-control" placeholder="" type="text"/>
                        </md-input-container>
                    </th>
                </tr>
                <tr>
                    <th st-sort="firstName">First Name</th>
                    <th st-sort="lastName">Last Name</th>
                    <th st-sort="birthDate">Phone</th>
                    <th st-sort="visits">visits</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in displayedCollection" ng-click="$ctrl.select(row)">
                    <td>{{row.firstname}}</td>
                    <td>{{row.lastname}}</td>
                    <td>{{row.phone | tel}}</td>
                    <td>{{row.visits}}</td>
                </tr>
            </tbody>
        </table>
    </md-content>
</div>
