client-add-credits
    .header
        max-height: 50px
        div
            min-width: 150px

    md-card
        text-align: center
        min-width: 700px
    .alert
        color: $alertColor
        font-size: 20pt

    .list-item
        padding: 3px
        font-size: 15pt
        border: 1px solid
