<div layout="row" flex="none" md-colors="{background: 'accent-100'}">
    <h3 layout-padding >Transactions</h3>
    <div class="" flex>
    </div>
    <md-button ng-click="$ctrl.$state.go('core.transactions.new')">
        New Unsolved
    </md-button>
    <md-button ng-click="$ctrl.$state.go('core.transactions.list')">
        All
    </md-button>
    <md-button ng-click="$ctrl.$state.go('core.transactions.dashboard')">
        Dashboard
    </md-button>
</div>
<div ui-view layout="column" flex>
    Loading...
</div>

