@import "~variable"

#inhouse-orders
    button
        border: 1px solid #6c6c6c
    .padding-box
        padding-bottom: 10px
        h3
            margin-bottom: 0px

#inhouse-orders-canvas
    width: 500px
    // height: 500px
    border 1px solid #1b1b1b
