@import "~variable"
#inhouse-orders-dialog
    md-dialog
        // min-height: 650px
        // min-width: 1000px
        min-width: 100%
        min-height: 100vh

#inhouse-orders
    md-toolbar
        min-height: 30px
    .header
        width: 100%
        height: 30px
        h5
            margin: 0px
            padding: 0px
        md-icon
            margin-top: 0px
    .footer
        width: 700px
        padding: 20px
        border-top: 1px solid #d2d2d2
    button
        border: 1px solid #6c6c6c
    .padding-box
        padding-bottom: 10px
        h3
            color #9a9a9a
            font-size 2em
            margin-bottom: 0px
    .button-container
        max-width: 90%
        button
            display: inline-block;
            font-size: 2em
            padding: 5px

    .preview
        height: 300px
        line-height: 300px
        img
            max-height: 300px
            max-width: 100%
    .control
        height: 50px
    .rush
        height: 50px
        line-height: 50px
        md-checkbox
            margin: 0px
        h5
            font-size: 1.3em
            margin: 0px

#inhouse-orders-canvas
    width: 500px
    // height: 500px
    border 1px solid #1b1b1b
