<div class="" layout="row" flex layout-align="start center" layout-fill>
    <div flex></div>
    <form class="form" layout="column" ng-submit="$ctrl.login()">
        <div class="logo-container">
            <md-icon  md-svg-src="beastie"></md-icon>
        </div>
        <div class="" layout="row" layout-align="center center">
            <h2 class="md-headline">
                Welcome to Beastie
            </h2>
        </div>
        <md-input-container class="md-subhead">
            <label>Login ID</label>
            <input required md-no-asterisk type="text" name="loginId"
                ng-model="$ctrl.user.loginId"
                ></input>
        </md-input-container>
        <md-input-container class="md-subhead">
            <label>Password</label>
            <input required md-no-asterisk type="password" name="password"
                ng-model="$ctrl.user.password"
                ></input>
        </md-input-container>
        <md-button class="md-accent md-raised" type="submit">
            Login
        </md-button>
        <!-- <user-auth-logout style="icon"></user-auth-logout> -->
    </form>
    <div flex></div>
</div>
<!-- <div class="back">
    <md-icon  md-svg-src="beastie"></md-icon>
</div> -->
