<md-dialog id="choose-service-dialog">
    <md-toolbar>
        <div layout="row" layout-align="start center" class="md-padding header md-hue-2">
            <h3>Select One of the Following Services</h3>
        </div>
    </md-toolbar>
    <md-dialog-content layout="row" flex>
        <div layout="column" class="md-padding">
            <h3>Service</h3>
            <md-button 
                layout="column" 
                layout-align="center start"
                ng-repeat="service in $ctrl.services" ng-show="service.isActivated && !service.isDeleted"
                class="md-raised" ng-class="{'md-accent':$ctrl.newServices.keyID==service.keyID}" ng-click="$ctrl.setService(service)">
                <div class="md-headline">
                    {{service.price | currency}}
                    {{service.name}} {{service.zhName}} 
                </div>
            </md-button>
        </div>
        <div layout="column" class="md-padding">
            <h3>Addons</h3>
            <md-button layout="column" 
                layout-align="center start"
                ng-repeat="addon in $ctrl.serviceAddons" ng-show="addon.isActivated && !addon.isDeleted"
                class="md-raised" ng-class="{'md-primary': $ctrl.isAdded(addon)}" ng-click="$ctrl.toggleServiceAddon(addon)">
                <div class="md-headline">
                    {{addon.price | currency}}
                    {{addon.name}} {{addon.zhName}} 
                </div>
            </md-button>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <div layout="row" layout-align="start center" flex="none">
            <md-button ng-click="$ctrl.cancel(waiver.name)">
                cancel
            </md-button>
            <div class="" flex></div>
            <md-button ng-click="$ctrl.submit()">
                {{$ctrl.getTotal()|currency}} confirm
            </md-button>
        </div>
    </md-dialog-actions>
</md-dialog>