#previous-orders-dialog
    md-dialog
        min-height: 600px
    .main
        button
            border 1px solid #001640
            padding: 30px
            width: 800px
        .order-box
            margin-right: 20px
        img
            // max-width: 400px
            max-height: 450px
    .footer
        button
            border 1px solid #c4d9ff
            padding: 30px
            width: 300px
        button:hover
            border 1px solid #7aa9ff
