<div class="main">
    <md-toolbar class="md-primary md-hue-2 md-padding" layout="row" layout-align="start center">
        <div class="">
            Previous Orders
        </div>
        <div flex>

        </div>
        <div class="">
            <md-icon ng-click="$ctrl.close()" md-svg-src="close"></md-icon>
        </div>
    </md-toolbar>
    <md-content layout="row" layout-align="start center" flex>
        <div class="order-box" layout="column" ng-repeat="order in $ctrl.orders">
            <md-subheader>
                {{order.scheduleAt | date:'yyyy-MM-dd'}}
            </md-subheader>
            <md-content class="" layout="row" flex>
                <img ng-src="{{url}}" alt="loading..." ng-repeat="url in $ctrl.pictures[order._id]"/>
            </md-content>
        </div>
    </md-content>
</div>
