#snapshot-div
    md-dialog
        max-height: 100%!important
    video
        height: 100%
        width: 100%
    .button-group
        position: absolute
        z-index: 200
        width: 300px
        left 50%
        bottom: 10%
        margin-left -150px

        button
            background-color: rgba(255, 107, 13, 0.6)
            color: white
            border 1px solid black
        button:hover
            background-color: rgba(255, 107, 13, 0.8)
