// @import "~variable"
customer-pets
    .selected
        position: relative
        overflow: auto;;
        max-height: 485px

        .update-button
            position: fixed
            right 50px
            top 10px
            z-index: 600
            background-color: #ffffff
