<md-content layout="column" flex>
    <div class="" layout="row" flex>
        <md-content layout="column" flex="15">
            <md-button class="md-primary" ng-repeat="pet in $ctrl.pets" ng-click="$ctrl.selectedPet = pet" ng-class="{
                'md-raised': $ctrl.selectedPet==pet
            }">
                {{pet.name}}
            </md-button>
        </md-content>
        <div layout="column" flex class="selected">
            <div class="update-button">
                <md-button ng-disabled="$ctrl.selectedPet" ng-click="$ctrl.update()" class="md-raised md-primary ">
                    Update
                </md-button>
            </div>
            <md-subheader class="md-no-sticky">
                Information
            </md-subheader>
            <div layout="column" flex="none" class="md-padding">
                <md-input-container class="md-block">
                    <label>Name</label>
                    <input type="text" ng-model="$ctrl.selectedPet.name"/>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Breed</label>
                    <input type="text" ng-model="$ctrl.selectedPet.breeds"/>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Color</label>
                    <input type="text" ng-model="$ctrl.selectedPet.phone"/>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Weight</label>
                    <input type="text" ng-model="$ctrl.selectedPet.weight"/>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Gender</label>
                    <input type="text" ng-model="$ctrl.selectedPet.gender"/>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Species</label>
                    <input type="text" ng-model="$ctrl.selectedPet.specices"/>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Birthday</label>
                    <input type="text" ng-model="$ctrl.selectedPet.birthday"/>
                </md-input-container>
            </div>
            <md-subheader class="md-no-sticky">
                vaccinations
            </md-subheader>
            <div layout="column" flex="none" class="md-padding">
                <!-- <md-input-container class="md-block">
                <label>Street</label>
                <input type="text" ng-model="$ctrl.selectedPet.address.street"/>
            </md-input-container> -->
            </div>
            <md-subheader class="md-no-sticky">
                previousHistory
            </md-subheader>
            <div layout="column" flex="none" class="md-padding" ng-repeat="contact in $ctrl.selectedPet.emergencyContact">
                <!-- <md-input-container class="md-block">
                <label>name</label>
                <input type="text" ng-model="contact.name"/>
            </md-input-container> -->
            </div>
            <md-subheader class="md-no-sticky">
                specialConditions
            </md-subheader>
            <div layout="column" flex="none" class="md-padding" ng-repeat="contact in $ctrl.selectedPet.emergencyContact">
                <!-- <md-input-container class="md-block">
                <label>name</label>
                <input type="text" ng-model="contact.name"/>
            </md-input-container> -->
            </div>

            <md-divider></md-divider>
            <div layout="column" flex="none" class="md-padding">
                <!-- <label>Last Login At</label>
            {{$ctrl.selectedPet.lastLoginAt | date:'EEEE h:mma @ MMMM d, y'}}
            <label>Created At</label> -->
                {{$ctrl.selectedPet.updatedAt | date:'EEEE h:mma @ MMMM d, y'}}
            </div>
        </div>
    </div>
</md-content>
