@import "~variable"


#core
    md-dialog
        md-subheader
            margin-bottom: 15px
        max-height: 600px
        md-input-container
            margin 0
            margin-left: 20px
            padding-left: 20px
    .sidenav
        // background-color: $bgColor
        margin-top: -30px
        padding: 30px
        md-icon
            display: block
            margin: 50px 0px 0px 0px
            transform: scale(2, 2);
            color: #fff2d6
        md-icon:hover
            color: #ffffff
        md-icon:focus
            outline: none
            border: 0

#quick-start-dialog
    min-width: 300px
    min-height: 300px
    z-index: 100
    md-input-container
        input
            padding: 5px
            margin-left: -15px
            height: 50px
            font-size: 2.5em
            width: 300px
    .header
        max-height: 30px
        min-height: 30px
        height: 30px


.padding-6-0
    padding 6px 0px

.md-button
    font-weight 600
    font-size 16px
    border none
.border-solid
    border solid 2px
