<div layout="row" flex id="core" layout-fill>
    <div layout="column" layout-align="start center" class="sidenav" md-colors="{background:'primary-700'}">
        <md-icon ng-show="!toggleIcons" md-svg-src="calendar-plus" ng-click="$ctrl.startup()"></md-icon>
        <md-icon ng-class="{'highlight-menu-item':$ctrl.hasNewCheckedIn}" ng-show="!toggleIcons" md-svg-src="book-open-page-variant" ng-click="$ctrl.hasNewCheckedIn=false; $ctrl.go('core.orders.list')"></md-icon>
        <md-icon ng-class="{'highlight-menu-item':$ctrl.hasNewPurchase}" ng-show="!toggleIcons" md-svg-src="cash-usd" ng-click="$ctrl.hasNewPurchase=false; $ctrl.go('core.transactions.new')"></md-icon>
        <md-icon ng-show="!toggleIcons" md-svg-src="file-document-box" ng-click="$ctrl.openInhouseOrdersDialog()"></md-icon>
        <!-- <div flex></div> -->
        <md-icon ng-show="toggleIcons" md-svg-src="account-multiple" ng-click="$ctrl.go('core.customers.list')"></md-icon>
        <!-- <md-icon ng-show="toggleIcons" md-svg-src="paw" ng-click="$ctrl.go('core.pets.list')"></md-icon> -->
        <md-icon ng-show="toggleIcons" md-svg-src="format-list-bulleted-type" ng-click="$ctrl.go('core.listItems')"></md-icon>
        <md-icon ng-show="toggleIcons" md-svg-src="settings" ng-click="$ctrl.go('core.settings')"></md-icon>
        <md-icon ng-show="toggleIcons" md-svg-src="account-settings-variant" ng-click="$ctrl.go('core.users')"></md-icon>
        <md-icon md-svg-src="swap-horizontal" ng-click="toggleIcons = !toggleIcons"></md-icon>
        <!-- <md-icon ng-show="toggleIcons" md-svg-src="printer" ng-click="$ctrl.go('core.printer')"></md-icon> -->
        <div flex></div>
        <md-icon md-svg-src="{{$ctrl.fullscreenIcon}}" ng-click="$ctrl.toggleFullscreen()"></md-icon>
        <!-- <md-icon md-svg-src="printer-alert">printer alert</md-icon> -->
        <!-- <md-icon md-svg-src="translate" ng-click="$ctrl.toggleLanguage()"></md-icon> -->
        <user-auth-logout style="icon"></user-auth-logout>
    </div>
    <div ui-view layout="column" flex>
        core content goes here
        <h1 translate="core.hello"></h1>
        <h3 translate="users.yo"></h3>
    </div>
</div>
