@import "~variable"

html,
body
    margin 0
    padding 0
    height 100%
    width 100%
    overflow-x: hidden
    font-family: $font-family

#core
    .sidenav
        background-color: $bgColor
        margin-right: 30px
        md-icon
            margin: 20px 30px 20px 30px
            transform: scale(2, 2);
            color: #fff2d6
        md-icon:hover
            color: #ffffff
        md-icon:focus
            outline: none
            border: 0

.padding-6-0
    padding 6px 0px
