@import "~variable"

html,
body
    margin 0
    padding 0
    height 100%
    width 100%
    overflow-x: hidden
    font-family: $font-family

#core
    .sidenav
        md-icon
            margin: 20px 30px 20px 30px
            transform: scale(2, 2);
.padding-6-0
    padding 6px 0px