<div id="old-customer-panel-dialog" class="" layout="column" flex layout-fill>
    <md-toolbar class="md-primary md-hue-2 md-padding" layout="row" layout-align="start center">
        <div class="">
            Customer Panel
        </div>
        <div flex>

        </div>
        <div class="">
            <md-icon ng-click="$ctrl.cancel()" md-svg-src="close"></md-icon>
        </div>
    </md-toolbar>
    <md-content layout="column" flex class="md-padding">
        <div class="" layout="row" flex="none" layout-align="center center">
            <h3>
                {{$ctrl.customer.firstname}} {{$ctrl.customer.lastname}} - {{$ctrl.customer.phone}}
            </h3>
        </div>
        <md-divider></md-divider>
        <div class="" layout="row" flex="none" layout-align="center center">
            <md-button ng-click="$ctrl.selectAndConfirm('newOrder')" class="md-primary md-raised">
                New Order
            </md-button>
            <md-button ng-click="$ctrl.selectAndConfirm('info')"  class="md-accent md-raised">
                Info
            </md-button>
        </div>

        <md-divider></md-divider>
        <div class="md-padding" layout="column" flex>
            <div layout="row" ng-repeat="order in $ctrl.todayOrders | orderBy:'scheduleAt'" layout-align="start center">
                <div class="" flex>
                    {{order.scheduleAt | date:'MM-dd-yyyy @ h:mma'}}
                </div>
                <div class="">
                    <md-button ng-click="$ctrl.selectAndConfirm('checkIn', order)">
                        check in
                    </md-button>
                </div>
            </div>
            <div layout="row" ng-repeat="order in $ctrl.newOrders |  orderBy:'scheduleAt'" layout-align="start center">
                <div class="" flex>
                    {{order.scheduleAt | date:'MM-dd-yyyy @ h:mma'}}
                </div>
                <div class="">
                    <md-button ng-click="$ctrl.selectAndConfirm('editOrder', order)">
                        Edit
                    </md-button>
                </div>
            </div>

        </div>
    </md-content>
</div>
