@import "~variable"

#list-items
    .list-item:hover
        background-color: rgb(255, 253, 222)
        border-left: 5px solid rgb(29, 63, 66)
        margin-left: -5px

    .hightlight,
    .hightlight:hover
        background-color: rgb(247, 245, 209)
        border-left: 5px solid rgb(29, 63, 66)
        margin-left: -5px

    .sub-items
        border-left: 5px solid rgb(29, 63, 66)
        margin-left: -5px

    .listItems-header
        max-height: 50px
        .md-button
            min-height: 20px
            line-height: 20px
