// @import "~variable"
calendar
    #beastie-calendar
        margin-top: 5px
        font-size: 1.5em!important
    .fc-view
        // width: 100%;
        position: absolute;
        top: 60px;
        height: calc(100vh - 60px)
        overflow-y: auto;
    // .fc-event-container

    #add-new-order
        position: fixed;
        right: 15px
        bottom: 15px
        z-index: 50!important
    .selected
        color: #fffef1!important
        background-color: #126aaf!important
        // z-index: 9999!important
    .selected-hover
        // min-width: 250px!important
        z-index: 800!important
        // font-size: 1.3em!important
        // opacity: 0.95!important

    .fc-unthemed .fc-popover
        width: 400px
        border: 2px solid #15214a

    .fc-content
        .fc-time
            // display: inline-block;
            // text-align: right
            // min-width: 70px!important
            padding-right: 5px
    .fc-agenda-view .fc-day-grid
        display: none
    .fc-more-cell
        text-align: center
        font-weight: bold;
