<div class="" layout="column" flex>
    <div id="beastie-calendar" layout="column" flex></div>
</div>
<div id="add-new-order" ng-show="$ctrl.selectEvent">
    <md-menu>
        <md-button
            ng-click="$ctrl.addNewOrder($event, $mdOpenMenu)"
            class="md-fab md-primary"
            aria-label="add new order">
            <md-icon md-svg-src="bookmark"></md-icon>
        </md-button>
        <md-menu-content width="4">
            <!-- <md-menu-item>
                <md-input-container class="md-block">
                    <label>phone</label>
                    <input type="text" ng-model="item.name" aria-label="{{list.type}}-{{item.type}}-name">
                </md-input-container>
            </md-menu-item> -->
            <md-menu-item layout="row" layout-align="center center">
                {{$ctrl.selected.customers[0].firstname}} {{$ctrl.selected.customers[0].lastname}}
            </md-menu-item>
            <md-menu-item layout="row" layout-align="center center">
                {{$ctrl.selected.customers[0].phone | tel}}
            </md-menu-item>
            <md-menu-item layout="row" layout-align="center center">
                <md-button ng-click="$ctrl.editOrder()" flex>
                    <md-icon md-svg-icon="tooltip-edit"></md-icon>
                    edit
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>
