// @import "~variable"
calendar
    #beastie-calendar
        margin-top: 5px
        font-size: 1.5em!important
        max-width: 100%
        max-height: 100vh
    #view-order
        // min-height: 100px
        min-width: 250px
        position: fixed;
        bottom: 5px
        right: 5px
        background: #ffffff
        opacity: 0.85
        border: 1px solid black
        z-index: 200
        font-size: 1.3em
        .collapse-button
            border-bottom: 1px solid black
            margin-bottom: 5px
            .md-button
                line-height: 20px
                min-height: 20px
        .info
            font-size: 1.1em
            font-weight: bold;
    .fc button
        height: 30px
        line-height: 10px
        font-size: 0.7em
    .fc-center
        h2
            font-size: 1em
    .fc-toolbar.fc-header-toolbar
        margin-bottom: 5px!important
    .fc-view
        width: 100%;
    .fc-view-container
        width: auto;
        height: 100%
        overflow-y: auto;
    .fc-month-view
        .fc-event-container
            width: auto;
            max-height: 350px
            overflow-y: auto;
            .fc-day-grid-event
                margin-bottom: 10px

    // .fc-view-container .fc-view
    //     overflow-x: scroll;
    .fc-nonbusiness
        background: #383838!important
    // .fc-event-container
    #add-new-order
        position: fixed;
        right: 15px
        bottom: 15px
        z-index: 50!important
    .selected-date
        background-color: #bddaf0!important

    .selected
        color: #fffef1!important
        background-color: #126aaf!important
        // z-index: 9999!important
    .selected-hover
        // min-width: 250px!important
        z-index: 800!important
        // font-size: 1.3em!important
        // opacity: 0.95!important

    .fc-unthemed .fc-popover
        width: 400px
        border: 2px solid #15214a

    .fc-content
        .fc-time
            // display: inline-block;
            // text-align: right
            // min-width: 70px!important
            padding-right: 5px
    .fc-agenda-view .fc-day-grid
        display: none
    .fc-more-cell
        text-align: center
        font-weight: bold;
